# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Richard Nilsson
	email = 31686265+RichardNilsson@users.noreply.github.com
	signingkey = CACA24436A1A4527
[core]
	editor = code --wait

[commit]
	gpgsign = true
[hub]
	protocol = git
[credential]
	helper = cache --timeout=3600
